$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-default: 16px;
$font-size-m: 18px;
$font-size-l: 20px;
$font-size-xl: 28px;
$font-size-xxl: 40px;
$font-size-xxxl: 60px;
$font-size-xxxxl: 80px;

$padding-z: 0px;
$padding-xs: 4px;
$padding-s: 8px;
$padding-m: 12px;
$padding-l: 18px;
$padding-xl: 24px;
$padding-xxl: 48px;

$desktop: 1024px;
$tablet-large: 900px;
$tablet: 768px;
$tablet-small: 640px;
$smartphone: 480px;
$middle-width: 600px;

$mouse-device: '(hover: hover) and (pointer: fine)';
