/* Базовые стили */
* {
  box-sizing: border-box;
}

body {
  display: grid;
  justify-content: center;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.main {
  display: grid;
  justify-content: center;
  padding: 20px;
  width: 100%;
  margin: 40px 0;
  background-color: white;
  border-radius: 8px;
  //box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Стили формы */
.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;

  &__fieldset {
    display: grid;
    row-gap: 4px;
    width: 100%;

    &-container {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      min-width: 300px;
      width: 100%;
      column-gap: 8px;
    }

    &--settings {
      max-width: 300px;
    }

    &--expression {
      min-height: 200px;
      display: flex;
    }
  }

  &__label {
    font-size: 16px;
    font-weight: normal;
    display: flex;
    align-items: center;
    gap: 8px;
    padding-block: 8px;

    &--checkbox {
      display: flex;
      align-items: center;
    }

    &-text {
      font-size: 16px;
      color: #333;
    }
  }

  &__expression,
  &__result {
    font-size: 54px;
    font-weight: bold;
    display: flex;
    text-align: center;
    gap: 8px;
    white-space: wrap;
  }

  &__input {
    width: 100%;
    max-width: 80px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;

    &--invalid {
      border-color: red;
    }

    &--valid {
      border-color: green;
    }
  }

  &__buttons {
    display: flex;
    flex-flow: row nowrap;
    gap: 8px;
    justify-content: space-between;
  }

  &__button {
    background-color: #007bff;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s ease-in-out;

    &:hover {
      background-color: #0056b3;
    }

    &:disabled {
      background-color: #d3d3d3;
      color: #a9a9a9;
      cursor: not-allowed;
    }
  }
}

.form__label--checkbox {
  input:checked + .form__label-text {
    color: #007bff;
  }
}
