doctype html
html(lang="ru")
  head
    link(href=require("./favicon.png"), rel="icon", type="image/png")
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    title Учим счёт
    script(src='./index.js')
    link(href='./index.scss' rel='stylesheet')

  body
    main.main
      form.form.js-form
        .form__fieldset.form__fieldset--settings
          label.form__label.form__label--checkbox
            input.form__checkbox(type="checkbox" checked required value="sum").js-form-input-checkbox
            form__label-text Сложение
          label.form__label.form__label--checkbox
            input.form__checkbox(type="checkbox" required value="diff").js-form-input-checkbox
            form__label-text Вычитание
          label.form__label.form__label--checkbox
            input.form__checkbox(type="checkbox" required value="mul").js-form-input-checkbox
            form__label-text Умножение
          label.form__label.form__label--number
            input.form__input(type="number" required).js-form-input-number
            form__label-text Введите целое число:

        .form__fieldset.form__fieldset--expression
          .form__fieldset-container
            .form__expression.js-form-expression
            span.form__result.js-form-result

        .form__buttons
          button.form__button.form__button--next.js-button-next(type="button") Следующее
          button.form__button.form__button--result.js-button-result(type="button") Показать ответ
